<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyEmobilis_project"
        tools:targetApi="31">
        <activity
            android:name=".ClientsNavbarActivity"
            android:exported="false" />
        <activity
            android:name=".DesignerNavbarActivity"
            android:exported="false" />
        <activity
            android:name=".ClientNavbarActivity"
            android:exported="false" />
        <activity
            android:name=".DesignerresetActivity"
            android:exported="false" />
        <activity
            android:name=".signup_designerActivity"
            android:exported="false" />
        <activity
            android:name=".ClientresetActivity"
            android:exported="false" />
        <activity
            android:name=".Signup_clientActivity"
            android:exported="false" />
        <activity
            android:name=".DesignerloginActivity"
            android:exported="false" />
        <activity
            android:name=".ClientloginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnboardingActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>